<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Contato</h1>
      <p class="text-center lead">Create or edit your contacts</p>

      <%- include('includes/messages') %>

      <form action="/contato/register" method='POST'>
        <input type="hidden" name="_csrf" value=<%= csrfToken %>>
        <div class="form-group">
          <label>Name</label>
          <input value="<%= contact.name %>" type="text" class="form-control" name="name">
          <label>Surname</label>
          <input value="<%= contact.surname %>" type="text" class="form-control" name="surname">
          <label>email</label>
          <input value="<%= contact.email %>" type="email" class="form-control" name="email">
          <label>Phone</label>
          <input value="<%= contact.phone %>" type="tel" class="form-control" name="phone">
        </div>


        <button type="submit" class="btn btn-primary">Create</button>
      </form>

   
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<%- include('includes/footer') %>